@model IEnumerable<PartyApp.Models.Party>
@{
    ViewBag.Title = "Home Page";
}

<ul class="parties">
    @foreach (var party in Model)
    {
        <li>
            <div class="date">
                <div>
                    <div class="day">
                        @party.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="month">
                    @party.DateTime.ToString("MMM")
                </div>
            </div>
            <div class="details">
                <span class="party-type">
                    @party.PartyType.Name
                </span>
                <span class="user">
                    Afholdes af: @party.User.Name
                </span>
            </div>
        </li>
    }
</ul>