body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.parties {
    list-style: none;
}

.parties > li {
    position: relative;
    margin-bottom: 30px;
}

.parties > li .date {
    width: 60px;
    background-color:#000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 2px 6px;
}

.parties > li .date .month {
    font-weight: bold;
}

.parties > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

.parties > li .details .party-type {
    font-weight: bold;
    display: block;
}

.parties > li .details .user {
    font-size: 13px;
}